:root {
    --main-bg-color: #F4F0EB;
    --grey: #888C90;
    --light-grey: #D9D9D8;
    --dark-grey: #363F47;
    --blue: #9EC0D5;
    --yellow: #F5B83D;
    --red: #FF6B64;
    --green: #B8E788;
}

body {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif !important;
    background-color: var(--main-bg-color);
    position: relative;
    overflow-x: hidden;
}

p {
    color: var(--dark-grey);
    padding: 5px 5%;
}

header {
    width: 100%;
    height: auto;
    background-color: var(--blue);
    margin: -1rem -1rem;
    padding: 1.25rem 1rem;
}

header img {
    margin-left: 5%;
}

h1 {
    color: var(--main-bg-color);
    background-color: var(--blue);
    font-size: 150%;
    margin: 5px;
    padding: 10px;
    border: 5px solid var(--blue);
    border-radius: 7px;
    width: fit-content;
}


