/* order:
**	-display/position/top-right-left-bottom
**	-width/height
**	-margin/padding
**	-colors
**	-font stuff
**	-text stuff
**	-border
**	-background
**	...
**	-z-index
** >>>>>> position - size - colors - specifics - z-index
*/

/* General */
:root {
    --white: #F4F0EB;
    --grey: #888C90;
    --light-grey: #D9D9D8;
    --dark-grey: #363F47;
    --blue: #9EC0D5;
    --yellow: #F5B83D;
    --red: #FF6B64;
    --green: #B8E788;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif !important;
    font-size: 1rem;
    word-wrap: break-word;
    overflow-x: hidden;
    background-color: var(--white);
}

p {
    padding: 5px 5%;
    color: var(--dark-grey);
}

/* First glance view when page is loaded */
.first-glance {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    grid-template-rows: repeat(5, 15vh);
    gap: 0px;
    height: 75vh;
    margin-bottom: 25vh;
    justify-items: space-around;
    align-items: center;
    background-color: var(--blue);
}

.first-glance > * {
    z-index: 0;
}

.logo {
    grid-area: 1 / 1 / 6 / 2;
}

.logo img {
    width: 75vh;
    height: 75vh;
}

.title {
    place-content: space-around start;
    grid-area: 2 / 2 / 2 / 3;
}

.title h1 {
    margin: 0;
    padding: 0;
    color: var(--white);
/*     -webkit-text-fill-color: white; */
/*     -webkit-text-stroke-width: 1px; */
/*     -webkit-text-stroke-color: var(--dark-grey); */
    font-family: Magilio, Arial, sans-serif;
    font-size: 5rem;
    letter-spacing: 6px;
}

.title h3 {
    margin: 0;
    padding: 0;
    color: var(--dark-grey);
    font-family: Moonrising, Aria, sans-serif;
    font-size: 2rem;
    letter-spacing: 8px;
}

.presentation {
    grid-area: 3 / 2 / 5 / 3;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.socials {
    grid-area: 4 / 2 / 6 / 6;
    display: flex;
    flex-flow: row wrap;
    width: inherit;
    height: fit-content;
    align-items: center;
    justify-content: space-evenly;
}

.social-card {
    position: relative;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    border: 1px solid var(--white);
    border-radius: 20px;
    mouse: cursor;
    background-color: transparent;
}

.social-card a {
    color: var(--white);
    font-family: MonumentExtended, Arial, sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
    text-decoration: none;
}

.social-card span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url('empty.gif');
}

i {
    margin-right: 0.7vw;
    color: var(--white);
    text-align: center;
    text-decoration: none;
}

.social-card:hover, .social-card:hover a, .social-card:hover .fa {
    color: var(--blue);
    background-color: var(--white);
    opacity: 0.8;
}

.title .presentation .socials {
    padding-left: -10vw;
}

/* Navigation */
nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 110vw;
}

.navbar {
    margin: 0;
    padding: 2.5vh 15vh;
    overflow: hidden;
    list-style-type: none;
    background-color: var(--blue);
    z-index: 2;
}

.navbar li {
    float: left;
    margin-left: 1vw;
}

.navbar li a {
    display: block;
    padding: 10px 10px;
    color: white;
    font-family: MonumentExtended, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    border: 1px solid var(--blue);
    border-radius: 20px;
}

.navbar li a:hover {
    color: var(--dark-grey);
    background-color: rgba(255, 255, 255, 0.3);
}

.navbar li a.active {
    color: var(--dark-grey);
    background-color: var(--white);    
}
