:root {
    --main-bg-color: #F4F0EB;
    --grey: #888C90;
    --light-grey: #D9D9D8;
    --dark-grey: #363F47;
    --blue: #9EC0D5;
    --yellow: #F5B83D;
    --red: #FF6B64;
    --green: #B8E788;
}

body {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif !important;
    background-color: var(--main-bg-color);
    word-wrap: break-word;
    overflow-x: hidden;
    height: 4000px;
}

h1 {
    color: var(--main-bg-color);
    background-color: var(--blue);
    font-size: 150%;
    margin: 5px;
    padding: 10px;
    border: 5px solid var(--blue);
    border-radius: 7px;
    width: fit-content;
}

p {
    color: var(--dark-grey);
    padding: 5px 5%;
}

.firstGlance {
    display: block;
    width: 100vw;
    height: 75vh;
    margin: -1rem -1rem 25vh;
    padding: 1.25rem 1rem;
    background-color: var(--blue);
    overflow: hidden;
    z-index: 0;
}

.logoName {
    /* position: absolute; */
    position: fixed;
    top: 0px;
    width: 70vh;
    height: 70vh;
    z-index: 2;
}

.logoName img {
    width: inherit;
    height: inherit;
}

nav {
    position: fixed;
    top: 0;
    left: -0rem;
    width: 110vw;
    z-index: 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--blue);
}

nav li {
  float: left;
  margin: 5px;
}

nav li a {
  display: block;
  color: white;
  text-decoration: auto; 
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  border: 1px solid var(--blue);
  border-radius: 20px;
}

nav li a:hover {
  color: var(--dark-grey);
  background-color: rgba(255, 255, 255, 0.3);
}

nav li a.active {
  color: var(--dark-grey);
  background-color: var(--main-bg-color);    
}