/* order:
**	-display/position/top-right-left-bottom
**	-width/height
**	-margin/padding
**	-colors
**	-font stuff
**	-text stuff
**	-border
**	-background
**	...
**	-z-index
** >>>>>> position - size - colors - specifics - z-index
*/

/* General */
:root {
    --main-bg-color: #F4F0EB;
    --grey: #888C90;
    --light-grey: #D9D9D8;
    --dark-grey: #363F47;
    --blue: #9EC0D5;
    --yellow: #F5B83D;
    --red: #FF6B64;
    --green: #B8E788;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif !important;
    font-size: 2.5vh;
    word-wrap: break-word;
    overflow-x: hidden;
    background-color: var(--main-bg-color);
}

p {
    padding: 5px 5%;
    color: var(--dark-grey);
}

/* First glance view when page is loaded */
.first-glance {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    width: 100vw;
    height: 75vh;
    margin: -1vh -1vw 25vh;
    padding: 1vh 1vw;
    overflow: hidden;
    background-color: var(--blue);
    z-index: 0;
}

.title {
/*     display: relative; */
/*     width: 50vw; */
    margin-left: 45vw;
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
    align-items: center;
}


.title h1 {
/*     padding: 8vh 0 0 4vh; */
    position: inline-block;
    margin-bottom: 0;
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--dark-grey);
    font-family: MonumentExtendedUltrabold, Arial, sans-serif;
    font-size: 2.5rem;
    letter-spacing: 6px;
}

.title h3 {
    position: inline-block;
    color: var(--grey);
    font-family: Deutschlander, Aria, sans-serif;
    font-size: 2rem;
}

.title p {
    display: inline;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.socials {
    display: flex;
    flex-flow: row wrap;
    width: inherit;
    height: fit-content;
    align-items: center;
    justify-content: space-evenly;
}

.social-card {
    position: relative;
    padding: 10px 10px;
    font-style: emphasis;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 1px solid var(--dark-grey);
    border-radius: 20px;
    mouse: cursor;
    background-color: var(--main-bg-color);
}

.social-card a {
    color: var(--dark-grey);
    font-size: 1.2rem;
    letter-spacing: 3px;
    text-decoration: none;
}

.social-card span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url('empty.gif');
}

i {
    margin-right: 0.7vw;
    color: var(--dark-grey);
    text-align: center;
    text-decoration: none;
}

.social-card:hover, .social-card:hover a, .social-card:hover .fa {
    color: var(--main-bg-color);
    background-color: var(--dark-grey);
}

.logo-name {
    position: fixed;
    width: 75vh;
    height: 75vh;
    z-index: 3;
}

.logo-name img {
    width: inherit;
    height: inherit;
}


/* Navigation */
nav {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: -20vw;
    width: 110vw;
}

.navbar {
    margin: 0;
    padding: 4.5vh 15vh;
    overflow: hidden;
    list-style-type: none;
    background-color: var(--blue);
    z-index: 2;
}

.navbar li {
    float: left;
    margin-left: 1vw;
}

.navbar li a {
    display: block;
    padding: 10px 10px;
    color: white;
    font-family: MonumentExtended, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    border: 1px solid var(--blue);
    border-radius: 20px;
}

.navbar li a:hover {
    color: var(--dark-grey);
    background-color: rgba(255, 255, 255, 0.3);
}

.navbar li a.active {
    color: var(--dark-grey);
    background-color: var(--main-bg-color);    
}
