:root {
    --main-bg-color: #F4F0EB;
    --grey: #888C90;
    --light-grey: #D9D9D8;
    --dark-grey: #363F47;
    --blue: #9EC0D5;
    --yellow: #F5B83D;
    --red: #FF6B64;
    --green: #B8E788;
}

body {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif !important;
    background-color: var(--main-bg-color);
    position: relative;
}

p {
    color: var(--dark-grey);
    padding: 100px 5%;
}

header {
    display: inline-block;
    width: 100%;
    height: 100px;
    background-color: var(--blue);
}

h1 {
    color: var(--main-bg-color);
    background-color: var(--dark-green);
    font-size: 150%;
    margin: 5px;
    padding: 10px;
    border: 5px solid var(--dark-green);
    border-radius: 7px;
    width: fit-content;
}

