:root {
    --main-bg-color: #F5F5F4;
    --grey: #CBCACE;
    --light-grey: #EBEBEB;
    --dark-grey: #8C8A93;
    --green: #90E39A;
    --dark-green: #8EB797;
    --accent-purple: #8C2C6C;
    --accent-yellow: #FFC233;
    --accent-red: #FF6542;
}


body {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif !important;
    background-color: var(--main-bg-color);
    position: relative;
}

p {
    color: var(--dark-grey);
    padding: 10px 5%;
}

header {
    background: url("pics/banner.png");
    display: inline-block;
    width: 100%;
    height: 100px;
    background-color: var(--green);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: var(--main-bg-color);
    background-color: var(--dark-green);
    font-size: 150%;
    margin: 5px;
    padding: 10px;
    border: 5px solid var(--dark-green);
    border-radius: 7px;
    width: fit-content;
}

