:root {
    --main-bg-color: #F4F0EB;
    --grey: #888C90;
    --light-grey: #D9D9D8;
    --dark-grey: #363F47;
    --blue: #9EC0D5;
    --yellow: #F5B83D;
    --red: #FF6B64;
    --green: #B8E788;
}

body {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif !important;
    background-color: var(--main-bg-color);
    word-wrap: break-word;
    overflow-x: hidden;
    height: 4000px;
}

h1 {
    color: var(--main-bg-color);
    background-color: var(--blue);
    font-size: 150%;
    margin: 5px;
    padding: 10px;
    border: 5px solid var(--blue);
    border-radius: 7px;
    width: fit-content;
}

p {
    color: var(--dark-grey);
    padding: 5px 5%;
}

.firstGlance {
    display: block;
    width: 100vw;
    height: 75vh;
    margin: -1rem -1rem 25vh;
    padding: 1.25rem 1rem;
    background-color: var(--blue);
    overflow: hidden;
    z-index: 0;
}

.firstGlance .title {
    display: block;
    position: absolute;
    width: 50vw;
    right: 10vw;
    z-index: 5;
}

.title h1 {
    padding: 8vh 0 0 4vh;
    color: white;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--dark-grey);
    font-family: MonumentExtendedUltrabold, Arial, sans-serif;
    font-size: 2.5rem;
    letter-spacing: 6px;
}

.title h3 {
    position: absolute;
    top: -1vh;
    color: var(--dark-grey);
    font-family: Deutschlander, Aria, sans-serif;
    font-size: 2rem;
    letter-spacing: 0rem;
}

.title p {
    display: block;
    font-size: 1.5rem;
    width: 40vw;
}

.socials img {
    display: inline-block;
    width: 20px;
    margin-right: 10px;
    height: auto;
}

.socials li {
    list-style: none;
    float: left;
    margin: 5px;
}

.socials li a {
    display: block;
    color: white;
    font-family: MonumentExtended, Arial, sans-serif;
    text-decoration: auto; 
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    border: 1px solid var(--blue);
    border-radius: 20px;
}

.socials li a:hover {
    text-emphasis: italic;
}

.logoName {
    /* position: absolute; */
    position: fixed;
    top: 0px;
    width: 75vh;
    height: 75vh;
    z-index: 2;
}

.logoName img {
    width: inherit;
    height: inherit;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    margin-left: -20vw;
    width: 110vw;
    z-index: 1;
}

.navbar {
    list-style-type: none;
    margin: 0px;
    padding: 4.5vh 15vh;
    overflow: hidden;
    background-color: var(--blue);
}

.navbar li {
    float: left;
    margin: 5px;
}

.navbar li a {
    display: block;
    color: white;
    font-family: MonumentExtended, Arial, sans-serif;
    text-decoration: auto; 
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    border: 1px solid var(--blue);
    border-radius: 20px;
}

.navbar li a:hover {
    color: var(--dark-grey);
    background-color: rgba(255, 255, 255, 0.3);
}

.navbar li a.active {
    color: var(--dark-grey);
    background-color: var(--main-bg-color);    
}